.chosen-token {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.left-section {
  flex: 1;
  max-width: 100%; /* Full width for small screens */
  width: 100%; /* Ensure it scales on small screens */
}

.right-section {
  flex: 2;
  background: #242424;
  border-radius: 10px;
  padding: 20px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 800px;
  margin-top: 60px;
}

.tabbtn {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  color: white;
  border: 2px solid #58bc82;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  margin-left: 20px;
}

.tabbtn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #58bc82;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.tabbtn:hover::before {
  scale: 3;
}

.tabbtn:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(98, 193, 119, 0.4);
  border-color: #58bc82;
}

.tabbtn:active {
  scale: 1;
}

/* Responsive for smaller screens */
@media (max-width: 800px) {
  .chosen-token {
    flex-direction: column; /* Stack left and right sections vertically */
  }
}
