.signupform {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #cdd01f;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 350px;
  position: absolute;
  top: 56.1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signupform .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.signupform input[type="username"],
.signupform input[type="password"] {
  border-radius: 0.75rem;
  padding: 1.25rem 1rem;
  width: 100%;
  border: none;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.signupform input[type="username"]:focus,
.signupform input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
  font-size: 20px;
}

.signupform .submit {
  padding: 1.15rem 1rem;
  width: 100%;
  border-radius: 3.5rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 700;
  font-size: 1.05rem;
}

.signupform .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.redirect {
  cursor: pointer;
  color: #58bc82;
}