/* Table Container */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 160px;
  margin-left: 0px;
  margin-right: 0px;
  table-layout: fixed; /* Ensures that columns don't overflow */
  overflow-x: hidden;  /* Prevent horizontal scroll */
}

table,
th,
td {
  border: 2px solid #dddddd52;
  border-radius: 8px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  word-wrap: break-word; /* Prevents text from overflowing the cell */
  white-space: nowrap; /* Ensures text stays within the cell and doesn't stretch */
}

th {
  background-color: transparent;
  font-weight: bold;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: transparent;
}

tbody tr:nth-child(even) {
  background-color: transparent;
}

tbody tr:hover {
  background-color: #4b492e;
  cursor: pointer;
}

table img {
  border-radius: 50%;
  margin-right: 10px;
}

tfoot {
  font-weight: bold;
  background-color: #e0e0e0;
  text-align: center;
  padding: 12px 15px;
}

table + p {
  margin-top: 20px;
}
