footer {
  display: flex;
  justify-content: center;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  color: #aaa;
  padding: 20px;
  font-size: 14px;
  box-sizing: border-box;
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #888;
}

footer p:hover {
  color: #58bc82;
  cursor: pointer;
}

@media (max-width: 768px) {
  footer {
    padding: 15px;
  }

  footer p {
    font-size: 12px;
  }
}
