.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;  
    text-align: center;
    position: relative;
    height: 100vh;  
    width: 100vw;  
    background-color: black;
    color: white;   
    padding: 20px;
    box-sizing: border-box; 
    position: fixed;
    left: 0px;
    top: 40px;
  }
  
  .header-title {
    font-size: 3rem;
    font-weight: bold;
    max-width: 80%;
    margin: 0; 
  }
  
  .gradient-text {
    background: linear-gradient(to right, #C9A340, #6AB04C, #A67C52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  .header-subtitle {
    margin-top: 15px;
    font-size: 1.2rem;
    max-width: 600px;
    color: #ccc;
  }

  .welcomeLogo {

    width: 300px;

  }