.banner {
  width: 100%;
  background: linear-gradient(to right, #4cbb71, #cdd01f);
  color: black;
  padding: 10px 0px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner span {
  padding: 4px 10px;
}

.banner-elements {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 30s linear infinite;
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
