.myProfile input {
  border-radius: 0.75rem;
  padding: 1.25rem 1rem;
  border: 2px solid black;
  background-color: rgba(128, 128, 128, 0.195);
  border-radius: 8px;
  outline: 2px solid var(--bg-dark);
  font-size: 18px;
}

.myProfile button {
  border-radius: 0.75rem;
  padding: 1.25rem 1rem;
  font-size: 18px;
}

.myProfile {
  margin: 20px;
  margin-top: 150px;
  padding: 10px;
  border: 2px solid #4cbb71;
  box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.328);
  display: flex;
  flex-direction: column;
  width: 500px;
  
}

.myProfile li {
  display: block;
}

.myProfile h2 {
  font-size: 40px;
  font-weight: 600;
  text-shadow: 1px 1px rgba(103, 101, 101, 0.48);
  color: -webkit-linear-gradient(#4cbb71, #cdd01f);
  text-align: center;
}
